In [1]:
import os
import sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

import pyspark
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName("sample").getOrCreate()
sc=spark.sparkContext
txt_file=sc.textFile("C:\Sample.txt")
count = txt_file.flatMap(lambda line:line.split(" ")).map(lambda word:(word,1)).reduceByKey(lambda x,y:x+y)
output=count.collect()
for (word,count) in output:
    if(word == "the"):
        print("%s:%r" %(word,count))

the:5

In [31]:
data =sc.parallelize([1,2,3,4])
square = data.map(lambda x:x*x).collect()
for i in square:
    print("%s" %i)

1
4
9
16

In [33]:
data1=[("joe",200),("sam",100),("raj",150)]
columns=["name","score"]
df=spark.createDataFrame(data1).toDF(*columns)
df.show()

+----+-----+
|name|score|
+----+-----+
| joe|  200|
| sam|  100|
| raj|  150|
+----+-----+

In [34]:
df.select("name","score").show()

+----+-----+
|name|score|
+----+-----+
| joe|  200|
| sam|  100|
| raj|  150|
+----+-----+

In [35]:
df=spark.read.csv("C:\CarModel.csv",inferSchema=True,header=True)
df.show()

+--------------------+---+---------+------------+----------+------+------------+-----+------+
|                 Car|MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+---+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...| 18|        8|         307|       130|  3504|        12.0|   70|    US|
|   Buick Skylark 320| 15|        8|         350|       165|  3693|        11.5|   70|    US|
|  Plymouth Satellite| 18|        8|         318|       150|  3436|        11.0|   70|    US|
|       AMC Rebel SST| 16|        8|         304|       150|  3433|        12.0|   70|    US|
|         Ford Torino| 17|        8|         302|       140|  3449|        10.5|   70|    US|
|    Ford Galaxie 500| 15|        8|         429|       198|  4341|        10.0|   70|    US|
+--------------------+---+---------+------------+----------+------+------------+-----+------+

In [38]:
df.select("Car","MPG").filter(df["MPG"]>15).show()

+--------------------+---+
|                 Car|MPG|
+--------------------+---+
|Chevrolet Chevell...| 18|
|  Plymouth Satellite| 18|
|       AMC Rebel SST| 16|
|         Ford Torino| 17|
+--------------------+---+

In [44]:
df.groupBy("MPG").agg({"Cylinders":"sum"}).show()

+---+--------------+
|MPG|sum(Cylinders)|
+---+--------------+
| 16|             8|
| 15|            16|
| 17|             8|
| 18|            16|
+---+--------------+