In [1]:
import os
import sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

import pyspark
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName("miss").getOrCreate()

In [3]:
simpleData = [("emp1","James",None),("emp2",None,None),("emp3",None,345.0),("emp3","cindy",455.0)]

schema = ["id","Name","sales"]
df = spark.createDataFrame(data=simpleData,schema=schema)
df.printSchema()
df.show()

root
 |-- id: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- sales: double (nullable = true)

+----+-----+-----+
|  id| Name|sales|
+----+-----+-----+
|emp1|James| null|
|emp2| null| null|
|emp3| null|345.0|
|emp3|cindy|455.0|
+----+-----+-----+

In [65]:
df.dropna(how='any').show()

+----+-----+-----+
|  id| Name|sales|
+----+-----+-----+
|emp3|cindy|455.0|
+----+-----+-----+

In [66]:
df.dropna(thresh=2).show()

+----+-----+-----+
|  id| Name|sales|
+----+-----+-----+
|emp1|James| null|
|emp3| null|345.0|
|emp3|cindy|455.0|
+----+-----+-----+

In [67]:
df.na.fill("NA").show()

+----+-----+-----+
|  id| Name|sales|
+----+-----+-----+
|emp1|James| null|
|emp2|   NA| null|
|emp3|   NA|345.0|
|emp3|cindy|455.0|
+----+-----+-----+

In [57]:
df.na.fill(0).show()

+----+-----+-----+
|  id| Name|sales|
+----+-----+-----+
|emp1|James|  0.0|
|emp2| null|  0.0|
|emp3| null|345.0|
|emp3|cindy|345.0|
+----+-----+-----+

In [60]:
df.na.fill('NA',subset=['Name']).show()

+----+-----+-----+
|  id| Name|sales|
+----+-----+-----+
|emp1|James| null|
|emp2|   NA| null|
|emp3|   NA|345.0|
|emp3|cindy|345.0|
+----+-----+-----+

In [62]:
df.na.fill({"Name":'NA',"sales":0}).show()

+----+-----+-----+
|  id| Name|sales|
+----+-----+-----+
|emp1|James|  0.0|
|emp2|   NA|  0.0|
|emp3|   NA|345.0|
|emp3|cindy|345.0|
+----+-----+-----+